@model AquatroHRIMS.Models.tblClientDetail
@{
    ViewBag.Title = "Client";
}

<h2>Add Client</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal" style="border:solid 1px black;">
        <div style="height:15px"></div>        
        @Html.ValidationSummary(true)
        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.varClientName, new { @class = " col-md-2" })
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.varClientName, new { @class = "form-control", @placeholder = " Name ", id = "txtClientName", minlength = "2", maxlength = "25" })
                    @Html.ValidationMessageFor(model => model.varClientName)
                </div>

                        @Html.LabelFor(model => model.varClientEmailID, new { @class = " col-md-2" })      
                    <div class="col-md-3">
                        @Html.TextBoxFor(model => model.varClientEmailID, new { @class = "form-control", @placeholder = " Email Id ", id = "txtClientEmailId", type = "email" })
                        @Html.ValidationMessageFor(model => model.varClientEmailID)
                    </div>
               

        </div>
            </div>

      

        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.varClientPhoneNo, new { @class = " col-md-2" })
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.varClientPhoneNo, new { @class = "form-control", @placeholder = " Phone No. ", id = "txtClientPhoneNo"})
                    @Html.ValidationMessageFor(model => model.varClientPhoneNo)
                </div>
                @Html.LabelFor(model => model.varClientAddress, new { @class = " col-md-2" })
                <div class="col-md-3">
                    @Html.TextAreaFor(model => model.varClientAddress, new { @class = "form-control", @placeholder = " Address ", id = "txtClientAddress", minlength = "2" })
                    @Html.ValidationMessageFor(model => model.varClientDescription)
                </div>
                </div>
            </div>
        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.varClientDescription, new { @class = " col-md-2" })
                <div class="col-md-3">
                    @Html.TextAreaFor(model => model.varClientDescription, new { @class = "form-control", @placeholder = " Description", id = "txtClientDesc" })
                    @Html.ValidationMessageFor(model => model.varClientDescription)
                </div>
                </div>
            </div>
        <div class="form-group">
            <div class="col-md-offset-5 col-md-10">
                
                <input type="submit" value="Create " id="btnCreate" class="btn btn-primary"/>
                <input type="reset" value="Reset" class="btn btn-primary" onclick="fnReset();" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
